@{
    @using AssetManager.Api.Attributes;
    @using AssetManager.Api.Attributes.Types;
    @model Tuple<AssetNameAttributeType, AssetNameAttribute>;

    AssetNameAttributeType typeInfo = @Model.Item1;
    AssetNameAttribute attributeInfo = @Model.Item2;

    string escapedKey = typeInfo.EscapeKey();
}

<label><i class="fa fa-caret-right"></i> @typeInfo.Key: </label>

<input 
       id="assetName_@escapedKey"
       class="form-control"
       value="@attributeInfo.Value"
       type="text"
       onchange=""
       name="@typeInfo.Key"/>